@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(12,15,103,1) 35%, rgba(21,86,145,1) 100%);
    font-family: 'Montserrat', san-serif!important;

}

/* ---- Header Section ---- */ 

.header .navbar .logo h2{
    font-size: 2em !important;
    color: #f3c90d !important;
}

.header .navbar .menu-navbar{
    width: 40vw;
    display:flex;
    justify-content: space-around ;  
    list-style: none;  
}

.header .navbar .menu-navbar a{
    text-decoration: none;
    color: white;
}

/* ---- Main Section ---- */ 

.main-content{ 
    display: grid;
    grid-template-columns: 4fr 4fr;
    gap: 2rem;
    align-items: center;
    color: #fff !important;
}

.main-content .img-container img{
    width: 70%;
}